@media only screen and (max-width: 1200px) {
  .landing-page .landing__main-text {
    font-size: 3rem;
    left: -220px;
  }
}
@media only screen and (max-width: 800px) {
  .landing-page .landing__main-text {
    left: -150px;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .landing-page .landing__main-text {
    left: -80px;
    font-size: 1rem;
  }
}

@media (pointer: coarse) and (max-width: 600px) {
  .landing__mobile-header {
    overflow-x: scroll;
    right: 0;
    left: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.landing__mobile-header {
  background-color: white;
  position: fixed;
  min-width: calc(100vw - 28px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  font-size: 1.125rem;
  padding: 10px 14px;

  .landing__mobile-header__links {
    display: flex;
    gap: 24px;

    a {
      margin: 6px 0;
    }
  }

  .landing__mobile-header__separator {
    width: 1px;
    background-color: #2b2b2b;
  }

  .landing__mobile-header__language {
    display: flex;
    padding: 6px 0;

    button {
      font-size: 1.125rem;
    }
  }
}
