.works {
    background-color: #2b2b2b;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(14, 100px);
    gap: 82px;
    padding: 120px 140px;
}


.works__card__footer__arrow {
    width: 30px;
    height: 30px;
    margin-left: 16px;
}

.works__card:nth-child(1) {
    grid-row: auto / span 4;
}

.works__card:nth-child(2) {
    grid-column: auto / span 2;
    grid-row: auto / span 3;
}

.works__card:nth-child(3) {
    grid-column: auto / span 3;
    grid-row: auto / span 4;
}
.works__card:nth-child(4) {
    grid-column: auto / span 2;
    grid-row: auto / span 3;
}

.works__card {
    color: #D5D7D4;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

    .works__card-name {
        font-size: 1.5rem;
    }

    .works__card-date {
        font-size: 0.875rem;
    }

    .works__card__gif-cover {
        background-color: #D5D7D4;
        margin-bottom: 1.25rem;
        position: relative;
        overflow: hidden;

        filter: brightness(0) invert(1);
    }

.works__card__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.625rem;
    position: relative;
}

.works__card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-decoration: none;
    padding: 10px 0 14px;
    font-size: 0.875rem;
}

/* Card text inside div for picture */

/*.works__card__gif-cover, .works__card__gif-cover__text {*/
/*    transition: 1s cubic-bezier(0.22, 0.61, 0.36, 1);*/
/*}*/

/*.works__card__gif-cover__text {*/
/*    position: absolute;*/
/*    width: 240%;*/
/*    height: 140%;*/
/*    !*left: -50%;*!*/
/*    !*top: -20%;*!*/
/*    color: #2b2b2b;*/
/*    font-size: 4rem;*/
/*    line-height: 1.2;*/
/*}*/

/*.works__card:hover .works__card__gif-cover__text {*/
/*    !*letter-spacing: 300px;*!*/
/*    line-height: 5;*/
/*    opacity: 0;*/
/*    !*width: calc(240% * 2);*!*/
/*    !*width: 2122px;*!*/
/*}*/

/*.works__card:hover .works__card__gif-cover {*/
/*    background-color: transparent;*/
/*}*/

/*!* Styles for card description rainbow animated lines *!*/

/*.works__card__footer::before, .works__card__footer:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    left: 0;*/
/*    background-color: #D5D7D4;*/
/*    transition-duration: .35s;*/
/*    transition-timing-function: ease;*/
/*    transition-property: background-position,transform;*/
/*    z-index: 1;*/
/*    box-sizing: border-box;*/
/*}*/

/*    .works__card__footer::before {*/
/*        bottom: 0;*/
/*    }*/

/*    .works__card__footer::after {*/
/*        top: 0;*/
/*    }*/

/*.works__card:hover .works__card__footer:after, .works__card:hover .works__card__footer:before {*/
/*    transform: scaleX(1);*/
/*    transform-origin: left center;*/
/*}*/

/*.works__card__footer:after, .works__card__footer:before {*/
/*    transform: scaleX(0);*/
/*    transform-origin: right center;*/
/*    animation: GradientScroll 2s linear infinite;*/
/*    background-size: 200% 100%;*/
/*    background-image: linear-gradient(140deg,#d97d01,#01928f 40%,#01928f 50%,#9e81d2 60%,#d97d01 80%,#d97d01);*/
/*}*/

/*@keyframes GradientScroll {*/
/*    0% {*/
/*        background-position: 0 0*/
/*    }*/

/*    to {*/
/*        background-position: -200% 0*/
/*    }*/
/*}*/
